/* src/App.css */

:root {
  --primary-purple-dark: #3a2d7c;
  --secondary-blue-dark: #0056b3;
  --primary-purple-light: #5b48a2;
  --secondary-blue-light: #007bff;
  --primary-purple-lighter: #7c68c8;
  --secondary-blue-lighter: #3399ff;
  --white-color: #ffffff;
  --light-gray-color: #f8f9fa;
  --dark-gray-color: #343a40;
  --danger-red: #e74c3c;
  --success-green: #28a745;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans-serif);
}

body, #root {
  background-color: var(--light-gray-color);
  color: var(--dark-gray-color);
  line-height: 1.6;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.App {
  background-image: url('./assets/hero-section-BackgroundImage.png');
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-top: 100px;
}

.page-container {
  padding: 2rem;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-color);
  min-height: 100vh;
  background-color: rgba(0,0,0,0.5);
}

/* Button Styles */
.btn {
  padding: 12px 28px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border: 2px solid transparent;
}

.btn-primary {
  background: linear-gradient(90deg, var(--primary-purple-light), var(--secondary-blue-light));
  color: white;
  border-color: var(--primary-purple-light);
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  background: transparent;
  border-color: var(--secondary-blue-lighter);
  color: var(--secondary-blue-lighter);
}

.btn-secondary:hover {
  background-color: var(--secondary-blue-lighter);
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.error-message {
  color: var(--danger-red);
  margin-top: 1rem;
  text-align: center;
}
